@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

nav {
	background-color: #FFED74;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

header {
	background-color: #FFED74;
    border: 1px black solid;
    padding: 0% 4%;
}

h1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 50px;
}

h2{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 35px;
}

h3{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
}

h4{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
}

p{
    font-family: 'Open-Sans';
    font-size: 18px;
}

.service-image {
    width: 100%;
    height: 100%;
    display: block;
}

#intro {
    background-color: #fbffb7;
    padding: 4%;
}

#social-media-content {
    background-color: #FFB7CF; 
}

#audience-targeting {
	background-color: #beb7ff;
}

#training {
	background-color: #c9ffb7;
}

#left {
    float: left;
    width: 42%;
    padding: 4%;
}

#right {
    float: right;   
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.left-head {
	float: left;
}

.right-head {
	float: right;
}

#do {
    padding:0% 4%;
}

#lead-form {
    text-align: center;
    padding: 2%;
    background-color: #ffb7b7;
}

footer {
    background-color: grey;
    text-align-last: center;
    padding: 2%;
}