header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}
#wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}
